<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product Id="*"
             Name="Inventory Management System"
             Language="1033"
             Version="1.0.0.0"
             Manufacturer="Vincent"
             UpgradeCode="bc49a64c-c082-4a61-9505-db5b3e38b2cc">

		<Package InstallerVersion="200"
                 Compressed="yes"
                 InstallScope="perMachine" />

		<MajorUpgrade
			DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<MediaTemplate />

		<Feature Id="ProductFeature"
                 Title="Inventory Management System"
                 Level="1">

			<ComponentGroupRef Id="ProductComponents" />

		</Feature>

	</Product>


	<Fragment>

		<Directory Id="TARGETDIR"
                   Name="SourceDir">

			<Directory Id="ProgramFilesFolder">

				<Directory Id="INSTALLFOLDER"
                           Name="Inventory Management System" />

			</Directory>

		</Directory>

	</Fragment>


	<Fragment>

		<ComponentGroup Id="ProductComponents"
                        Directory="INSTALLFOLDER">

			<!-- Main C++ Application -->
			<Component Id="MainExecutable">

				<File Id="InventoryManagementSystemEXE"
                      Source="..\..\Inventory Management System\x64\Debug\Inventory Management System.exe"
                      KeyPath="yes" />

			</Component>


			<!-- Inventory Value Calculator DLL -->
			<Component Id="InventoryValueCalculatorDLLComponent">

				<File Id="InventoryValueCalculatorDLLFile"
                      Source="..\..\Inventory Management System\x64\Debug\InventoryValueCalculator.dll"
                      KeyPath="yes" />

			</Component>


			<!-- Stock Management DLL -->
			<Component Id="StockManagementDLLComponent">

				<File Id="StockManagementDLLFile"
                      Source="..\..\Inventory Management System\x64\Debug\StockManagement.dll"
                      KeyPath="yes" />

			</Component>

		</ComponentGroup>

	</Fragment>

</Wix>